

header{
    background-color:#78767b;
    border-width: 2px;
}

h1 {
    color: #201731;;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    font-size: 50px;
    margin:auto;
}
.title{
    color:#201731;;
    margin:auto;
    text-align: center;
}


.notification {
background-color:#aea7c2 ;
border-radius: 5px;

}
.tabs{
    color:#201731;;
    background-color: #aea7c2;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    
}
.box {
    width: 500px;
    height: 300px;
    padding-top: -10px;
    padding-bottom:-10px;
    margin: auto;
    
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}
p {
    color: black;
    padding: 20px;
}
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    
}  

.box2 {
    width: 1000px;
    height: 1000px;
    padding-top: 10px;
    padding-bottom:10px;
    margin:auto;
    
}


.section2{
    padding:5%
}
  
#page-container {
    position: relative;
    min-height: 50vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;          /* Footer height */
  }
